.nav-link {
  background-color: white;
  color: black;

  &:hover {
    cursor: pointer;
    background-color: black;
    color: white;
  }
}

.selected-link {
  color: green;

  &:hover {
    color: green;
  }
}

.username-link {
  color: gray;

  &:hover {
    color: gray;
  }
}

img {
  width: 10em;
}

.mobile {
  font-size: small;
}
